.orange{color: orange;}

.profile{width: 300px; text-align: center; padding: 1rem; background-color: #ebebeb;box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.33);
  -webkit-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.33);
  -moz-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.33);
  border-radius:20px;
  margin-bottom: 1rem; 
}

.avatar{width: 200px; height: 200px; position: relative; margin: auto;}

.photo {width: 200px; height: 200px; border-radius: 100%;}

.newBox {padding: 0.3rem; width: 45px;height: 20px; line-height: 20px; background-color: aqua; border-radius: 5px; font-size: 13px; font-weight: bold; position: absolute;top: 10%;right: 1%;text-align: center;}